html, 
body {
    height: 100%;
    margin: 0;
    Background: linear-gradient(0deg, rgb(52, 180, 219), #ffffff) fixed;
}

.grid * {
    padding: 5px 15px;
    text-align: center;
    color: rgb(9, 45, 122);
}

/* сетка */

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    grid-template-areas:
     "header header"
     "main section"
     "footer footer";
}

main {
    grid-area: main;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 100px 100px 100px 100px 100px;
    grid-template-areas:
    "today today"
    "wind real"
    "uv hum"
    "pres vis"
    "sunrise sunset ";
}

.Today{
    grid-area: today;
    display: grid;
    background-size: cover;
    border-radius: 50px;
}
.UV {
    grid-area: uv;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Wind {
    grid-area: wind;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Real {
    grid-area: real;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Humidity {
    grid-area: hum;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Visibility {
    grid-area: vis;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Pressure {
    grid-area: pres;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Sunrise {
    grid-area: sunrise;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}
.Sunset {
    grid-area: sunset;
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

section {
    grid-area: section;
    display: grid;
}

.tommorow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    grid-area: footer;
}


