
/* поиск*/ 

 * {box-sizing: border-box;}

 body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tommorow {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}
.monday {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}

.tuesday {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}

.wednesday {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}
.thursday {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}

.friday{
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}

.saturday{
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}



