 * {box-sizing: border-box;}

html, body {
    height: 100%;
    margin: 0;
    Background: linear-gradient(0deg, rgb(52, 180, 219), #ffffff) fixed;
}

body {
    font-family: 'Rocher', serif;
    text-align: center;
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.mint {
  font-palette: --Mint;
}

input[type="text"] {
    border: 1px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    width: 300px;
    color: #5d5959;
    font-size: 18px;
    padding-left: 10px;
}

input[type=submit] {
    padding:17px 15px;
    background: #ffffff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #5d5959;
    font-size: 15px;
}

.forecast_for_five_days {
  border: 3px solid rgb(126, 212, 232);
  border-radius: 50px;
}


/* сетка */

.grid * {
    padding: 5px 15px;
    text-align: center;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    grid-template-areas:
     "header header"
     "main section"
     "footer footer";
}

main {
    grid-area: main;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 100px 100px 100px 100px 100px;
    grid-template-areas:
    "now now"
    "wind real"
    "cloud hum"
    "pres vis"
    "sunrise sunset ";
}

.current_forecast{
    grid-area: now;
    background-size: cover;
    border-radius: 50px;
}

.Cloud, .Wind,
.Real, .Humidity,
.Visibility, .Pressure,
.Sunrise, .Sunset {
    display: grid;
    border: 3px solid rgb(126, 212, 232);
    border-radius: 50px;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

.Cloud {
    grid-area: cloud;
}
.Wind {
    grid-area: wind;
}
.Real {
    grid-area: real;
}
.Humidity {
    grid-area: hum;
}
.Visibility {
    grid-area: vis;
}
.Pressure {
    grid-area: pres;
}
.Sunrise {
    grid-area: sunrise;
}
.Sunset {
    grid-area: sunset;
}

section {
    grid-area: section;
    display: grid;
}

.forecast_for_five_days {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

footer {
    grid-area: footer;
}


