{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>{% block title %}Weather Aplication{% endblock %}</title>
</head>
<body>
    <div class="grid">
        <header>
        <h1 class="mint">Weather Forecast</h1>
            <form action="/city/" method="post">
                {% csrf_token %}
                <label for="city"></label>
                <input id="city" type="text" placeholder="City" name="city" value="{{ current_place }}">
                <input type="submit" value="search">
            </form>
        </header>
  {% block content %}
		{% endblock %}
    </div>
</body>
</html>