{% extends "App/base.html" %}
{% block content %}
        <main>
            <div class="Today">
                <h2>Сейчас в городе {{ place }} {{ temperature }} °C </h2>
                <h2>{{ conditions }} </h2>


            </div>
            
            <div class="UV">
                <img src="{{'../static/images/main/001-uv-index.png'}}" width=80px />Облачность: {{ clouds }} %</div>
            <div class="Wind">
                <img src="{{'../static/images/main/002-windy.png'}}" width=80px />Ветер {{ wind_speed }} м/сек</div>
            <div class="Real">
                <img src="{{'../static/images/main/007-barometer.png'}}" width=80px />Ощущается как {{ temperature_feels }} °C</div>
            <div class="Humidity">
                <img src="{{'../static/images/main/005-humidity.png'}}" width=80px />Влажность {{ humidity }} %</div>
            <div class="Visibility">
                <img src="{{'../static/images/main/006-visibility.png'}}" width=80px />Видимость {{ visibility }} км.</div>
            <div class="Pressure">
                <img src="{{'../static/images/main/008-thermometer.png'}}" width=80px />Давление {{ pressure }} мм рт.ст.</div>
            <div class="Sunrise">
                <img src="{{'../static/images/main/003-sunrise.png'}}" width=80px /> Мин t {{temp_min}} °C </div>
            <div class="Sunset">
                <img src="{{'../static/images/main/004-sunset.png'}}" width=80px /> Макс t {{temp_max}} °C </div>

        </main>

        <section>
            <div class="tommorow">
                <p>Tommorow</p>
                <p>16'</p>
                <img src="{{'../static/images/png/001-cloud.png'}}" width=80px />
            </div>
            <div class="monday">
                <p>Monday</p>
                <p>18'</p>
                <img src="{{'../static/images/png/002-sunny.png'}}" width=80px />
            </div>
            <div class="tuesday">
                <p>Tuesday</p>
                <p>15'</p>
                <img src="{{'../static/images/png/003-sun.png'}}" width=80px />
            </div>
            <div class="wednesday">
                <p>Wednesday</p>
                <p>17'</p>
                <img src="{{'../static/images/png/004-storm.png'}}" width=80px />
            </div>
            <div class="thursday">
                <p>Thursday</p>
                <p>17'</p>
                <img src="{{'../static/images/png/005-storm-1.png'}}" width=80px />
            </div>
            <div class="friday">
                <p>Friday</p>
                <p>16'</p>
                <img src="{{'../static/images/png/006-cloud-1.png'}}" width=80px />
            </div>
            <div class="saturday">
                <p>Saturday</p>
                <p>15'</p>
                <img src="{{'../static/images/png/007-cloud-2.png'}}" width=80px />
            </div>
        </section>
        <footer></footer>
{% endblock %}
