{% extends "App/base.html" %}
{% block content %}
        <main>
            <div class="Today">
                <h2>{{ place }} </h2>
                <h2>{{ temperature }} °C </h2>
                <h3>{{ conditions }} </h3>

            </div>
            <div class="Wind">
                <img src="{{'../static/images/main/002-windy.png'}}" width=80px />Ветер {{ wind_speed }} м/сек</div>
            <div class="Real">
                <img src="{{'../static/images/main/007-barometer.png'}}" width=80px />Ощущается как
                {{ temperature_feels }} °C</div>
            <div class="UV">
                <img src="{{'../static/images/main/002-windy.png'}}" width=80px />Облачность: {{ clouds }} %</div>
            <div class="Humidity">
                <img src="{{'../static/images/main/005-humidity.png'}}" width=80px />Влажность {{ humidity }} %</div>
            <div class="Pressure">
                <img src="{{'../static/images/main/008-thermometer.png'}}" width=80px />Давление {{ pressure }} мм рт.ст.</div>
            <div class="Visibility">
                <img src="{{'../static/images/main/006-visibility.png'}}" width=80px />Видимость {{ visibility }} км.</div>
            <div class="Sunset">
                <img src="{{'../static/images/main/003-sunrise.png'}}" width=80px />  {{sunset_timestamp}}  </div>
            <div class="Sunrise">
                <img src="{{'../static/images/main/004-sunset.png'}}" width=80px />  {{sunrise_timestamp}}  </div>


        </main>
        <section>
            <div class="tommorow">
                    {% for k, v  in dict1.items %}
                        <p>{{ k }}: {{ v.2 }}</p>
                        <h4>{{ v.0 }} °C - {{ v.1 }} °C </h4>
                    {% endfor %}
        </section>

        <footer></footer>
{% endblock %}
